/* Search Items Container */
.SearchItems {
  margin-top: 70px;
  width: 100%;
}

/* Messages */
.NoProducts {
  margin-top: 300px;
  margin-left: 120px;
  color: red;
}

.searchProducts {
  margin-top: 30px;
  margin-left: 120px;
  color: var(--Text-Dark);
}

/*Items Grid*/
.items {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout */
  gap: 20px;
  margin-top: 20px;
}

/* Single Item Card*/
.item {
  border: 1px solid #ddd;
  border-radius: 10px;
  background: hsl(0, 0%, 100%);
  padding: 16px;
  width: 90vw;
  margin: auto;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

/* Add Icons (Heart / Cart)*/
.add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  position: absolute;
  top: 10px;
  width: 80vw;
  margin: 0 auto;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: var(--Text-Dark);
  z-index: 99;
}

/*  Item Image */
.itemimg {
  text-align: center;
  margin: 60px 0;
  position: relative;
}

.itemimg img {
  width: 80vw;
  height: 30vh;
  object-fit: cover;
  border-radius: 10px;
}

/* Limited Stock Badge */
.limited {
  position: absolute;
  top: 100%;
  right: 0;
  background: red;
  color: white;
  padding: 4px 6px;
  font-size: 10px;
  border-radius: 4px;
}


   /* Item Details */
  
.itemdetails {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BrandName {
  font-size: 0.6rem;
  color: var(--Text-Dark);
}

.ItemName {
  font-size: 1.2rem;
  color: var(--Text-Dark);
  margin: 4px 0;
}

.ItemABout {
  font-size: 0.6rem;
  color: var(--Text-Dark);
  text-align: center;
}