.createStore {
    margin-top: 60px;
    display: flex;
    flex-direction: column;

}

.createHeading {
    color: var(--Text-Dark);
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.inputOfSeller {
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: 80vh;
    margin: auto;
}

.StoreName {
    background-color: var(--Background);
    border: 2px solid var(--Primary-Green);
    width: 95vw;
    height: 5vh;
    padding: 10px;
    margin: 5px auto;
    border-radius: 10px;
}

.StoreTextArea {
    background-color: var(--Background);
    border: 2px solid var(--Primary-Green);
    height: 15vh;
    padding: 10px;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.logoPreview {
    color: var(--Text-Dark);
    background-color: var(--Background);
    height: 20vh;
    padding: 5px;
    width: 95vw;
    margin-left: 10px;
    margin-right: auto;

}
.storeLogo{
    width: 95vw;
    margin: 5px auto;
}
.BtnStore {
    color: var(--Text-Dark);
    background-color: var(--Primary-Green);
    border: 2px solid var(--Primary-Green);
    height: 5vh;
    width: 99vw;
    position: fixed;
    bottom: 5px;
}


.selectStore {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 99vw;
    height: 5vh;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.customEnter{
    width: 95vw;
    margin: 5px auto;
}

.categoryCreated{
    margin-left: 10px;
}