:root {
 
  --Primary: #2e8b57;
  --Accent: #66cd76;
  --Background: #e5fbe4;
  --Neutral: #ffffff;
  --Text: #2f4f4f;
  
  
  --shadow-sm: 0 4px 12px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 8px 24px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 16px 36px rgba(0, 0, 0, 0.15);

  
  --font-Heading: "Josefin Sans", system-ui, -apple-system, sans-serif;
  --font-text: "Elms Sans", system-ui, -apple-system, sans-serif;
}