.buyPage {
  max-width: 900px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: var(--Text-Dark);
}

/* Address Section */
.addressSection {
  background: var(--Background);
  padding: 10px;
  border: 2px solid var(--Primary-Green);
  border-radius: 8px;
  position: relative;
  bottom:50px;
  
}

.noAddress h3 {
  margin-bottom: 10px;
}

.editAddressBtn {
  padding: 8px 12px;
  border: none;
  background: #2e7d32;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.editAddressBtn:hover {
  background: #256428;
}

/* Items Section */
.checkoutItem {
  display: flex;
  align-items: center;
  gap: 15px;
  background: var(--Background);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px var(--Primary-Green);
}

.checkoutItem img {
  width: 80px;
  height: 80px;
  padding: 10px;
  object-fit: cover;
  border-radius: 6px;
}

.checkoutItemInfo h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.checkoutItemInfo p {
  margin: 3px 0;
  font-size: 0.9rem;
}

.checkoutItem button {
  background:transparent;
  border: none;
  padding: 6px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--Text-Dark);
  margin-left: 60px;
  margin-bottom: auto;
}

.checkoutItem button:hover {
  background: #b71c1c;
}

/* Price Summary */
.priceSummary {
  background: var(--Background);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 30px;
   box-shadow: 0 2px 6px var(--Primary-Green);
}

.priceRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.priceRow.total {
  font-weight: 700;
  font-size: 1.1rem;
}

/* Place Order Button */
.placeOrderBtn {
  width: 100%;
  padding: 12px;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  background: var(--Primary-Green);
  color: var(--Text-Dark);
  cursor: pointer;
}

.placeOrderBtn:disabled {
  background:var(--Background);
  cursor: not-allowed;
}

.placeOrderBtn:hover:enabled {
  background: var(--Primary-Green);
}