/* Container */
.wishlistPage {
  max-width: 1000px;
  margin: 70px auto;
  padding: 0 20px;
  font-family: 'Arial', sans-serif;
}

.wishlistTitle {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color:var(--Text-Dark);
}

.emptyWishlist {
  text-align: center;
  font-size: 1.2rem;
  color:var(--Text-Dark);
}

/* Wishlist items */
.wishlistItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wishlistItemCard {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  background: var(--Background);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: relative;
}


.wishlistItemImg {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.wishlistItemInfo {
  flex: 1;
}

.wishlistItemName {
  font-size: 1.1rem;
  margin-bottom: 5px;
  font-weight: 600;
}

.wishlistItemPrice {
  color: var(--Text-Dark);
  font-weight: 500;
  margin-bottom: 5px;
}

.wishlistItemRating {
 color: var(--Text-Dark);
  font-weight: 500;
}

/* Actions */
.wishlistItemActions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.removeWishlistBtn,
.addCartBtn {
  border: none;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
  color: var(--Text-Dark);
}

.removeWishlistBtn {
  background:transparent;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.removeWishlistBtn:hover {
  background: red;
}

.addCartBtn {
  background: transparent;
   font-size: 1.3rem;
}

.addCartBtn:hover {
  background: var(--Background);
}

